body{background-color:#F5DEB3;
    margin: 0%;
    padding: 0%;
    text-align: center;

}



.ENCABEZADO{
    padding-top: 20px;
    text-align: center;
}

/* Creamos la animación */
@keyframes lucesBorde {
    0%   { border-color: red; }
    25%  { border-color: blue; }
    50%  { border-color: green; }
    75%  { border-color: yellow; }
    100% { border-color: red; }
}

.imagen-encabezado{
        
        width: 300px;
    border-radius: 15px;

    border: 5px solid;
    animation: lucesBorde 6s infinite;
}

.id{
    h1 {
    transition: color 0.5s ease; /* Esto hará que los colores cambien suavemente en medio segundo */
}
}

.Slogan{
color:black;
}

.CONTENEDOR-MENU {
    padding: 20px;
    max-width: 600px; /* Para que no se estire demasiado en pantallas grandes */
    margin: 0 auto;   /* Centra todo el menú */
}

.categoria h3 {
    font-size: 30px;
    color: orange; /* El color de tu marca */
   border-radius: 15px;
   padding-left: 15px;
    padding-bottom: 5px;
    margin-top: 30px;
    text-transform: uppercase;
    background-color: #009637;
  
    
}

.frase{
    text-align: center;
}

.platillo {
    display: flex;
    justify-content: space-between; /* Empuja el nombre a la izquierda y el precio a la derecha */
    padding: 10px 0;
    border-bottom: 1px dashed #151515; /* Línea punteada clásica de menú */
}

.nombre {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.precio {
    color: black; /* Verde tipo WhatsApp para que resalte el costo */
    font-weight: bold;
    font-size: 1.0rem;
}

.pie-pagina{
    background-color: #2b1d0e;
    padding: 30px;
    text-align: center;
    
}

.boton-whatsapp{
    color: #0cf310;
    margin: 10px;
}
.boton-ruta{
    color: aqua;
    margin: 10px;

}

.img-comida{
    
    padding-top: 20px;
    padding-left: 10px;
    width: 100px;
    height: 100px;

}

